<section>
  <p class="heading">Hi, I’m <span>Aravinth</span></p>
  <p class="sub-heading">Angular Frontend Developer</p>
  <p class="intro">
    A passionate and detail-oriented developer eager to build clean, responsive,
    and user-friendly web applications using Angular. I'm ready to bring ideas
    to life through code.
  </p>
  <button mat-flat-button type="button" color="primary" class="resume-btn">
    Resume
  </button>
  <button mat-icon-button class="down-arrow-icon">
    <mat-icon color="primary">keyboard_arrow_down</mat-icon>
  </button>
</section>
